.blockWeatherContainer {
   margin: 0 auto;
}

.blockWeatherContainerActive {
   background-color: rgb(102, 66, 66);
}

.dayContainer {
   margin-top: 10px;
}

.dateContainer {
   margin-top: 10px;
}

.iconContainer img {
   margin-top: 20px;
   width: 20px;
   height: 20px;
}

.emptyContainer {
   height: 100px;
   width: 100%;
   background-color: rgb(235, 118, 118);
}

.windContainer {
   margin-top: 20px;
}

.windSpeedContainer {
   margin-top: 20px;
}

